body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Montserrat', san-serif;
}

a {
    color: blue;
    text-decoration: underline;
}

.container {
    flex: 1;
}

.bg-gradient-to-b {
    background: linear-gradient(to bottom, #f3f4f6, #E5E7EB);
}
