body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    flex: 1;
}

.bg-gradient-to-r {
    background: linear-gradient(to right, #4FD1C5, #4361EE);
}
