body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

body, html {
    font-family: 'Roboto', sans-serif;
}

.container {
    flex: 1;
}

.bg-gradient-to-r {
    background: linear-gradient(to bottom, #a0c4ff, #f9f9f9);
}
